<mat-card>
  <mat-card-title >Registro</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="something()">
      <mat-form-field>
        <input matInput placeholder="Email">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Confirmar password">
      </mat-form-field>
      <div class="actions">
        <button mat-stroked-button color="primary">Cancelar</button>
        <button mat-flat-button color="primary">Registrar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
